<!DOCTYPE html>
<html>
<head>
<title>Cart</title>
</head>
<body>

<h2>🛒 Your Cart</h2>

{% if cart %}
<table border="1" cellpadding="10">
<tr>
<th>Product</th>
<th>Weight</th>
<th>Qty</th>
<th>Price</th>
<th>Action</th>
</tr>

{% set total = 0 %}

{% for item in cart %}
<tr>
<td>{{ item.name }}</td>
<td>{{ item.weight }}</td>
<td>{{ item.qty }}</td>
<td>₹{{ item.price }}</td>

<td>
<a href="/remove_from_cart/{{ loop.index0 }}">
<button style="background:red;">❌ Remove</button>
</a>
</td>
</tr>

{% set total = total + item.price %}
{% endfor %}

</table>

<h3>Total: ₹{{ total }}</h3>

<a href="/payment"><button>💳 Checkout</button></a>

{% else %}
<p>Cart is empty</p>
{% endif %}

<br><br>
<a href="/"><button>⬅ Back</button></a>

</body>
</html>
