<h1>🛒 Your Cart</h1>

{% for item in cart %}
<div style="border:1px solid black; padding:10px; margin:10px;">

<p><b>{{item.name}}</b> - {{item.weight}}</p>
<p>Qty: {{item.qty}}</p>
<p>Total: ₹{{item.total}}</p>

<a href="/remove_from_cart/{{loop.index0}}">
<button style="background:red; color:white;">❌ Remove</button>
</a>

</div>
{% endfor %}

<h2>Total: ₹{{total}}</h2>

<form method="POST" action="/checkout">
<textarea name="address" placeholder="Enter Address"></textarea>
<br><br>
<form method="POST" action="/checkout">
<button>💳 Proceed to Payment</button>
</form>

<a href="/">⬅ Back</a>
